<!DOCTYPE html>
<html>
<title>FTP transfer APP</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/mystyle.css">
<link rel="stylesheet" href="css/w3.css">

<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>

<body>
<% include partials/navbar.ejs %>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:0px">

  <!-- Automatic Slideshow -->
  <div class="mySlides w3-display-container w3-center">
    <img src="imgs/la.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Videos</h3>
      <p><b>Upload or Download Movies!</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="imgs/ny.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Images</h3>
      <p><b>Backup Images.</b></p>
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="imgs/chicago.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Music</h3>
      <p><b>Get Music on the go.</b></p>
    </div>
  </div>

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">THE DROP</h2>
    <p class="w3-opacity"><i>Binary is Information</i></p>
    <p class="w3-justify">This web application serves the purpose of storing all the important files as a backup on the local machine. Any time of the say if we need to store the files, may be because we are running out of space, or just for the sake of backup,
      this site serves the purpose. now not only that, you can download your faviorite content any any given moment. This is a file storage and synchronization service, which allows users to store files on servers, synchronize files across devices, and share files.
      This web app offers cloud storage, file synchronization and personal cloud</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p> </p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt=" " style="width:60%">
      </div>
      <div class="w3-third">
        <p>Anshuman Tripathi</p>
        <img src="/imgs/member.jpg" class="w3-round w3-margin-bottom" alt="core" style="width:60%">
      </div>
      <div class="w3-third">
        <p> </p>
        <img src="/w3images/bandmember.jpg" class="w3-round" alt=" " style="width:60%">
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Mysore, India<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +91 9452610783<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: anshuman01.tripathi@gmail.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>

<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.nodejs.org" target="_blank"> nodejs </a></p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('logInModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
