<!DOCTYPE html>
<html>
<head>
<title>FTP transfer APP</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% include partials/references.ejs %>
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body>
<% include partials/navbar.ejs %>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:0px">

  <!-- The upload Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">THE DROP</h2>
	<hr>
	<form>
		<div class="form-group">
			<div class="row">
				<div class = "col-md-2">
					<h4>Email :</h4>
				</div>
				<div style="padding-top:5px" class="col-md-10">
					<input class="form-control" type="Email" placeholder="Enter email, and we'll send a link once the upload is complete" name="email" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div style="padding-top:10px" class = "col-md-2">
					<h5>First Name :</h5>
				</div>
				<div class="col-md-4">
					<input class="form-control" type="text" placeholder="What shall we call you." required>
				</div>
				<div style="padding-top:10px" class = "col-md-2">
					<h5>Last Name :</h5>
				</div>
				<div class="col-md-4">
					<input class="form-control" type="text" placeholder="and your last name ?" name="email">
				</div>				
			</div>
			<br>
			<div class="row">
				<div class = "col-md-2">
					<h5>Select files :</h5>
				</div>
				<div style="padding-top:5px" class="col-md-10">
					<input class="form-control" type="file" placeholder="Select files" required>
				</div>
			</div>
			<br>
			<div style="margin-top:15px" class="row">
				<div style="padding-top:5px" class = "col-md-2"></div>
				<div style="padding-top:5px" class = "col-md-4">
					<button class="form-control btn btn-success"> Upload </button>
				</div>
				<div style="padding-top:5px" class="col-md-4">
					<button class="form-control btn btn-danger"> Reset </button>
				</div>
			</div>
		</div>
	</form>
	<hr>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Mysore, India<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +91 9452610783<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: anshuman01.tripathi@gmail.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>

<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.nodejs.org" target="_blank"> nodejs </a></p>
</footer>

<script>

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('logInModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
