<!DOCTYPE html>
<html  ng-app="uploadApp">
<head>
<title>FTP transfer APP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% include partials/references.ejs %>
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body ng-controller="uploadCtrl">
<% include partials/navbar.ejs %>

<!-- Page content -->
<div class="w3-content row" style="max-width:2000px;margin-top:0px">
<label id="lblSize"></label>
  <!-- The upload Section -->
  <div ng-class=" preview_chkbx ? 'w3-center w3-padding-64 col-md-10' : 'w3-container w3-content w3-center w3-padding-64 col-md-12'" style="max-width:800px" id="band">
    <h2 class="w3-wide">THE DROP</h2>
	<hr>
	<form>
		<div class="form-group">
			<div class="row">
				<div class = "col-md-2">
					<h4>Email :</h4>
				</div>
				<div style="padding-top:5px" class="col-md-10">
					<input class="form-control" type="Email" ng-model="email" ng-change="getUploaderData()" placeholder="Enter email, and we'll send a link once the upload is complete" name="email" required>
				</div>
			</div>
			<br>
			<div class="row">
				<div style="padding-top:10px" class = "col-md-2">
					<h5>First Name :</h5>
				</div>
				<div class="col-md-4">
					<input class="form-control" type="text" ng-model="fname" ng-change="getUploaderData()" placeholder="What shall we call you." name="fname" required>
				</div>
				<div style="padding-top:10px" class = "col-md-2">
					<h5>Last Name :</h5>
				</div>
				<div class="col-md-4">
					<input class="form-control" type="text" ng-model="lname" ng-change="getUploaderData()" placeholder="and your last name ?" name="lname">
				</div>
			</div>
			<br>
			<div class="row">
				<div class = "col-md-2">
					<h5>Select files :</h5>
				</div>
				<div style="padding-top:5px" class="col-md-10">
					<input class="form-control" type="file" id="flUpload" ng-model="flu" placeholder="Select files" required>
				</div>
			</div>
			<br>
			<div class="checkbox">
			  <label><input type="checkbox" ng-model="preview_chkbx" ng-change="getFileSize()"> Show preview</label>
        <br>
        <p ng-hide="!preview_chkbx">
          <button type="button" ng-click="getFileSize()" class="btn btn-outline-info btn-sm">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
          </button>
        </p>
			</div>
			<div style="margin-top:15px" class="row">
				<div style="padding-top:5px" class = "col-md-2"></div>
				<div style="padding-top:5px" class = "col-md-4">
					<button class="form-control btn btn-outline-success"> Upload </button>
				</div>
				<div style="padding-top:5px" class="col-md-4">
					<button class="form-control btn btn-outline-danger"> Reset </button>
				</div>
			</div>
		</div>
	</form>
	<hr>
    </div>
	<div ng-hide="!preview_chkbx" class="col-md-4">
		<div class="w3-container w3-content w3-center w3-padding-64">
		<h2 class="w3-wide w3-center">Upload Analysis</h2>
		<hr>
    <div class="row">
      <div style="padding-top:10px" class="col-md-6">
        <h5>Uploader's Name :<h5>
      </div>
      <div class="col-md-6">
        <input class="form-control" type="text" ng-model="uploaderName" readonly>
      </div>
    </div>

    <div class="row">
      <div style="padding-top:10px" class="col-md-6">
        <h5>Uploader's Email :<h5>
      </div>
      <div class="col-md-6">
        <input class="form-control" type="text" ng-model="uploaderEmail" readonly>
      </div>
    </div>

    <div class="row">
      <div style="padding-top:10px" class="col-md-6">
        <h5>Uploader's Type :<h5>
      </div>
      <div class="col-md-6">
        <input class="form-control" type="text" ng-model="userCategory" readonly>
      </div>
    </div>
    <br>
    <div>
      <table class="table table-hover table-sm">
        <!-- thead>
          <tr>
            <th scope="col">Property</th>
            <th scope="col">Value</th>
          </tr>
        </thead -->
        <tbody>
          <tr>
            <td >File Name :</td>
            <td ng-bind="fileName"></td>
          </tr>
          <tr>
            <td>File Size :</td>
            <td ng-bind="fileSize"></td>
          </tr>
          <tr>
            <td>File Last Modified :</td>
            <td ng-bind="fileLastModifiedDate"></td>
          </tr>
          <tr>
            <td>File Type :</td>
            <td ng-bind="fileType"></td>
          </tr>
          <tr>
            <td>File Extension :</td>
            <td ng-bind="fileExtension"></td>
          </tr>
          <tr>
            <td>File Category :</td>
            <td ng-bind="fileCategory"></td>
          </tr>
        </tbody>
      </table>
    </div>

		</div>
	</div>

  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Mysore, India<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +91 9452610783<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: anshuman01.tripathi@gmail.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div>
    </div>
  </div>

<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.nodejs.org" target="_blank"> nodejs </a></p>
</footer>

<script>

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('logInModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</body>
</html>
